@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Franklin Gothic Condensed';
  src: url('/fonts/franklin-gothic-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-grove-50:  #fff9ec;
  --color-grove-100: #fbe2b6; /* new anchor */
  --color-grove-200: #ffd79a;
  --color-grove-300: #ffc36c;
  --color-grove-400: #f2a749;
  --color-grove-500: #e88b2b;
  --color-grove-600: #e27c22; /* anchor */
  --color-grove-700: #bd6219;
  --color-grove-800: #974d13;
  --color-grove-900: #6a340c;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-header: "Franklin Gothic Condensed", sans-serif;
  --font-copy: "Georgia", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
